# 내용이 궁금하다면 조용진에게 DM으로 ~~

# AWS Secrets keys
export AWS_REGION=ap-northeast-2
export AWS_DEFAULT_REGION=ap-northeast-2
export AWS_ACCESS_KEY_ID=***********
export AWS_SECRET_ACCESS_KEY=***********

# production buddystock
export TF_VAR_production_rds_buddystock_dbname=""
export TF_VAR_production_rds_buddystock_username=""
export TF_VAR_production_rds_buddystock_password=""

# development pickstudio
export TF_VAR_development_rds_pickstudio_dbname=""
export TF_VAR_development_rds_pickstudio_username=""
export TF_VAR_development_rds_pickstudio_password=""

